#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=AVTUK LInux SErver
After=sonica.service

[Service]
Type=simple
PIDFile=/run/alise.pid
WorkingDirectory=/root/alise
OOMScoreAdjust=-500
Restart=always
RestartSec=0
TimeoutSec=0
ExecStart=/usr/local/etc/alise/alise start
ExecStop=/usr/local/etc/alise/alise stop
ExecReload=/usr/local/etc/alise/alise restart

[Install]
WantedBy=multi-user.target
